table {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}
thead {
    height: 45px;
}
tbody{
    height: auto;
}
th{
    font-size: 20px;
    text-align: left;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
td{
    height: 28px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
